= render partial: "layouts/shared/component_drawer"
%section.grid-12
  .width-12.grid-column-start-lg-2.width-lg-8
    #top.linkable-section
      %h1 Images
      %p.h4
        Cards are surface that display content and actions on a single topic.
      %p
        They should be easy to scan for relevant and actionable information. Elements, like text and images, should be
        placed on them in a way that clearly indicates hierarchy.
