= render partial: "layouts/shared/component_drawer"
%section.grid-12
  .width-12.grid-column-start-lg-2.width-lg-8
    #top.linkable-section
      %h1 Pickers
      %p.h4
        Indicate the loading state of a component or page with spinners.
  .width-12.grid-column-start-lg-2.width-lg-8
    %p.datepicker
