%section.grid-12.mb-5#introduction
  .width-12.width-md-10.grid-column-start-md-2
    %h1.font-primary Developers Guide
    %p
      More details about how to include the library and other components coming soon...