@import "variables";
.badge{
  position: relative;
  white-space: nowrap;
  margin-right: 24px;
  &:after{
    position: absolute;
    top: -11px;
    right: -24px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: $badge-background-color;
    color: $badge-color;
  }
  &[data-badge]:after{
  	content: attr(data-badge);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
    font-size: $body-font-size - 0.2rem;
    top: - ($body-font-size - 0.3rem);
    right: - ($body-font-size + 0.5rem);
    width:  $body-font-size + 0.5rem;
    height:  $body-font-size + 0.5rem;
    border-radius: 50%;
		background: $badge-background-color;
		color: $badge-color;
  }
	&.badge-overlap[data-badge]:after {
    right: -0.6rem;
    top: -1.5rem;
	}
}