@import "variables";

.breadcrumb-nav {
	position: relative;
	box-shadow: none;
	background-color: $breadcrumb-background-color;
	display: flex;
	justify-content: flex-start;
	border-radius: 5px;
	margin-bottom: 10px;
	z-index: auto;

	ol, ul {
		list-style-type: none;
		padding-inline-start: 20px;

		li {
			display: inline-block;
			padding: 1% 0;
			color: $breadcrumb-color;

			+ li:before {
				display: inline-block;
				content: $breadcrumb-divider;
				padding-right: 0.5rem;
				color: $breadcrumb-color;
			}

			&.active {
				color: $breadcrumb-active-color;
			}
		}
	}
}

.process-breadcrumbs {
	position: relative;
	box-shadow: none;
	display: flex;
	justify-content: flex-start;
	border-radius: 5px;
	margin-bottom: 10px;
	background-color: transparent;
	z-index: auto;

	ul, ol {
		list-style: none;
		display: inline-block;
		padding-inline-start: 0;
		margin: 0;

		li {
			float: left;
			color: $breadcrumb-color;
			display: flex;
			align-items: center;
			background: $breadcrumb-background-color;
			text-decoration: none;
			position: relative;
			height: 40px;
			line-height: 40px;
			padding: 0 10px 0 0;
			text-align: center;
			margin-right: 23px;

			i {
				margin-right: 0.25rem;
			}

			&.active {
				color: $breadcrumb-active-color;
			}

			&:first-child {
				padding-left: 10px;
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;

				&:before {
					border: none;
				}
			}

			&:last-child {
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;

				&:after {
					border: none;
				}
			}

			&:before,
			&:after {
				content: "";
				position: absolute;
				top: 0;
				border: 0 solid $breadcrumb-background-color;
				border-width: 20px 10px;
				width: 0;
				height: 0;
			}

			&:before {
				left: -20px;
				border-left-color: transparent;
			}

			&:after {
				left: 100%;
				border-color: transparent;
				border-left-color: $breadcrumb-background-color;
			}

			&:hover {
				background-color: $breadcrumb-hover;

				&:before {
					border-color: $breadcrumb-hover;
					border-left-color: transparent;
				}

				&:after {
					border-left-color: $breadcrumb-hover;
				}
			}

			&:active {
				background-color: $breadcrumb-hover;

				&:before {
					border-color: $breadcrumb-hover;
					border-left-color: transparent;
				}

				&:after {
					border-left-color: $breadcrumb-hover;
				}
			}
		}
	}
}