@import "variables";
@import "functions";

.notice {
  position: relative;
	margin: 1rem 0;
	display: block;
  align-items: center;
  align-content: center;
  padding: 10px;
  opacity: 1;
	border-radius: 0.5rem;
	border: 1px solid $notice-border;
	@each $variation in map-keys($variations){
		&.notice-#{$variation} {
			border-color: map-get(map-get($variations, $variation), 'border');
			background-color: map-get(map-get($variations, $variation), 'background');
			color: map-get(map-get($variations, $variation), 'font');
			&.notice-icon{
				padding-left: 40px;
				&::before{
					content: map-get(map-get($variations, $variation), 'icon');
					font-family: "Material Icons Outlined";
					font-size: 24px;
					position: absolute;
					left: 10px;
				}
			}
		}
	}
	.notice-header{
		font-weight: bold;
		display: block;
	}
	.notice-body{
		display: block;
	}
}